@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('../css/reset.css');
@import url('../css/common.css');

.section {
    background: #f56214;
}

.fade-in {
    opacity: 0;
}

.main-visual .inner {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.main-visual .pakids-logo {
    width: 555px;
}

.main-visual .pakids-logo .shape {
    fill: rgba(0, 0, 0, 0);
}

.main-visual .pakids-logo .txt {
    fill: #f56214;
}

.main-visual .pakids-logo .combine {
    fill: #fff;
}

/* --------------- 섹션 1 ----------------- */

.section-01 {
    padding-top: 10vw;
}

.section-01 .skew-text {
    text-align: center;
    transform: skewY(-11.65deg);
    padding-top: 30px;

    display: flex;
    flex-direction: column;
    gap: 35px;
}

.section-01 .intro-title {
    font-size: 180px;
    font-weight: 700;
    line-height: 1;

    color: #fff;
}

.section-01 .page-title {
    font-size: 64px;
    line-height: 1.3;
    font-weight: bold;
    letter-spacing: -3px;

    color: #fff;
}

.section-01 .text {
    font-size: 32px;
    font-weight: 500;

    color: #7b310a;
}

.section-01 .intro-img {
    position: relative;
    width: 1000px;
    height: 1120px;

    margin: 250px auto 0;
}

.section-01 .intro-img > * {
    position: absolute;

    width: 100%;
    height: 100%;
    object-fit: cover;

    transition: 0.6s ease-out;
}

.section-01 .intro-img > .kid {
    transition: 0.4s ease-out;

    z-index: 2;
}

.section-01 .intro-img .line-1 {
    z-index: 3;
}

.section-01 .intro-img .line-2 {
    z-index: 1;
}

/* ---------- 섹션 2 ---------- */

.section-02 {
    position: relative;

    width: 100%;
    height: 100vh;

    background: #f56214;
}

.section-02 .inner {
    background: #000;
}

.bk-box {
    position: absolute;

    top: -350px;

    width: 100%;
    height: 300vh;

    background: #000;

    z-index: 5;

    transition: 0.5s;
}

.skew {
    transform: rotate(-10deg) skew(-10deg, 0deg) scale(1.01543, 0.98481);
}

.section-02.active .bk-box {
    top: -1000px;
}

.section-02 .inner::before {
    content: '';

    position: absolute;
    top: -300px;
    left: 0;
    z-index: 10;

    height: 0;

    border-bottom: 163px solid;
    border-left: 895px solid rgba(0, 0, 0, 0);

    background: #f56214;

    opacity: 0;
    visibility: hidden;
}

.section-02 .inner::after {
    content: '';

    position: absolute;
    bottom: -300px;
    right: 0;
    z-index: 10;

    height: 0;

    border-bottom: 163px solid;
    border-left: 895px solid rgba(0, 0, 0, 0);

    background: #f56214;

    transform: rotate(-180deg);

    opacity: 0;
    visibility: hidden;
}

.section-02.active .inner {
    /* position: fixed; */
    top: 0;
    left: 0;
}

.section-02.active .inner::after {
    position: fixed;
    bottom: 0;

    opacity: 1;
    visibility: visible;

    transition: 0.5s;
    transition-delay: 0.2s;
}

.section-02.active .inner::before {
    position: fixed;
    top: 0;

    opacity: 1;
    visibility: visible;

    transition: 0.5s;
    transition-delay: 0.2s;
}
